In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
# Importing ISBG as dataframe
ISBG = pd.read_excel("./data/ISBSG-revised.xlsx")

In [22]:
# Standard data exploration
ISBG.head()
ISBG.info()
ISBG.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Project ID       250 non-null    int64
 1   COSMIC Entry     250 non-null    int64
 2   COSMIC Exit      250 non-null    int64
 3   COSMIC Read      250 non-null    int64
 4   COSMIC Write     250 non-null    int64
 5   Functional Size  250 non-null    int64
 6   Relative Size    250 non-null    object
dtypes: int64(6), object(1)
memory usage: 13.8+ KB

,Project ID,COSMIC Entry,COSMIC Exit,COSMIC Read,COSMIC Write,Functional Size
count,250.000000,250.00000,250.00000,250.00000,250.000000,250.000000
mean,21465.188000,47.44800,52.56000,44.25200,24.668000,168.720000
std,6422.124915,93.32415,109.59864,75.39303,54.846315,289.133843
min,10036.000000,0.00000,0.00000,0.00000,0.000000,1.000000
25%,16311.500000,4.00000,2.00000,3.00000,1.000000,13.250000
50%,20384.500000,18.50000,14.00000,12.50000,7.000000,72.000000
75%,27462.000000,50.00000,52.50000,54.75000,25.750000,186.750000
max,32766.000000,908.00000,933.00000,545.00000,542.000000,2090.000000